body {
    background-color: rgb(255, 255, 255);
    color: #141414;
    font-family: "Rubik", sans-serif;
    margin: 0;
}

h1 {
    text-align: center;
    margin-top: 120px;
    margin-bottom: 60px;
    color: #141414;
}

h2 {
    font-size: 20px;
    color: #141414;
}

h3 {
    font-size: 18px;
    color: #141414;
}

button {
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    font-size: 16px;
}

i {
    font-size: 14px;
}

.images-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 100px;
    text-align: center;
}

.images-container .images {
    text-align: left;
    display: inline-block;
    margin: 5px 5px 0 5px;
    position: relative;
}

.images-container .images img {
    border-radius: 5px;
    box-shadow: 0 0 10px 0 rgb(0 0 0 / 50%);
}

.image-overlay span {
    display: none;
    position: absolute;
    color: rgba(255, 255, 255, 0.6);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -55%);
    transition: 0.8s;
}

.image-overlay:hover span {
    display: block;
}

.image-infos {
    text-align: left;
    padding-left: 30px;
}

.images p {
    text-align: left;
}

.modal-description {
    padding-left: 30px;
}

.description-title {
    color: #0269a4;
}

.images h2 {
    position: absolute;
    top: 0;
    background-color: rgba(48, 48, 255, 0.6);
    margin-block-end: 0;
    margin-block-start: 0;
    text-align: center;
    color: white;
    padding: 3px 0px 3px 0px;
    font-weight: 400;
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.images-container .images img {
    width: 220px;
    height: 220px;
    object-fit: cover;
    cursor: pointer;
}

input,
textarea {
    font-family: "Rubik", sans-serif;
}

.input-form {
    margin-bottom: 60px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.6);
    padding: 25px 0 25px 0;
    position: fixed;
    z-index: 9999;
    width: 100%;
    top: 0;
    box-shadow: 0 0 4px 0 rgb(0 0 128 / 60%);
}

.input-form input {
    border-radius: 5px;
    padding: 4px;
}

.input-form input {
    border: 2px solid #141414;
}

.input-form input:not(:first-of-type) {
    margin-left: 10px;
}

.input-form label {
    margin-bottom: 0px;
    margin-left: 10px;
    font-size: 16px;
}

input[type="file"] {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}
.custom-file-upload {
    border-radius: 5px;
    display: inline-block;
    padding: 5px 0px;
    cursor: pointer;
    color: white;
    background: #0269a4;
    -webkit-box-shadow: 0px 4px 10px -1px rgba(0, 0, 0, 0.8);
    box-shadow: 0px 4px 10px -1px rgba(0, 0, 0, 0.8);
    font-weight: 400;
    width: 165px;
    margin-right: 10px;
}

.fa-file,
.fa-cloud-upload {
    margin-right: 3px;
}

.fa-bars {
    color: black;
}

.fa-image {
    cursor: pointer;
    color: rgba(255, 255, 255, 0.4);
}

button {
    background-color: rgb(48 48 255);
    border-radius: 5px;
    color: white;
    width: 165px;
    height: 30px;
    cursor: pointer;
    border: none;
    -webkit-box-shadow: 0px 4px 10px -1px rgba(0, 0, 0, 0.8);
    box-shadow: 0px 4px 10px -1px rgba(0, 0, 0, 0.8);
}

/* modal-containers */

#modal {
    width: 65%;
    height: 70%;
    border-radius: 5px;
    background-color: #141414;
    color: white;
    position: fixed;
    padding: 20px;
    padding-top: 40px;
    padding-left: 0;
    padding-right: 0;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -55%);
    overflow-y: scroll;
    overflow-x: hidden;
    z-index: 999999;
}

#modal::-webkit-scrollbar {
    width: 10px;
}

#modal::-webkit-scrollbar-track {
    background: white;
}

#modal::-webkit-scrollbar-thumb {
    background-color: rgb(48 48 255);
    border-radius: 5px;
}

#modal img {
    object-fit: cover;
    width: 95%;
    height: 365px;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 18px;
    padding-left: 12px;
    border-radius: 0px;
}

#modal input,
#modal textarea {
    border-radius: 5px;
}

.modal-container {
    display: inline-block;
}

.modal-container-first {
    width: 70%;
}

.modal-container-last {
    width: 28%;
    vertical-align: top;
}

.form-modal {
    margin-top: 17px;
}

/* modal-inputs */

.modal-username {
    background: #0269a4;
    border-radius: 20px;
    padding: 1px 5px;
}

.comment-input,
.comment-username,
.comments {
    display: block;
}

.comment-input {
    background-color: #272b2c;
    border: white;
}

.comment-username {
    margin-bottom: 10px;
    height: 22px;
    background-color: #272b2c;
    border: white;
}

label {
    margin-bottom: 4px;
}

.comment-input,
.comment-username,
.comments {
    width: 94%;
    caret-color: white;
    color: white;
}

.comment-child {
    margin-left: 15px;
}

.comments {
    background-color: #141414;
    cursor: default;
    border: none;
}

.comments:focus {
    outline: none;
}

.comment-child .comment-input {
    height: 80px;
}

button.comment-button {
    margin-top: 20px;
    margin-bottom: 40px;
}

.close {
    background: none;
    box-shadow: none;
    position: absolute;
    z-index: 100;
    right: 0;
    top: 0;
    margin-right: 10px;
    margin-top: 5px;
    width: 20px;
    height: 20px;
}

.more-container {
    text-align: center;
    margin-top: 60px;
    margin-bottom: 40px;
}

#span {
    background-color: rgba(0, 0, 0, 0.2);
    padding: 3px 9px 3px 9px;
    color: white;
    border-bottom: 2px solid rgb(48 48 255);
}

.logo {
    font-size: 1.2em;
    font-weight: bold;
    max-width: 300px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(0, -50%);
    margin-left: 30px;
}

.logo .logo-subtitle {
    font-family: "Kalam", cursive;
    font-size: 16px;
    color: #141414;
}

.table {
    margin-bottom: 20px;
}

.table td {
    background: rgb(239 239 239);
    font-size: 20px;
    width: 50%;
    padding: 10px 5px;
    overflow: hidden;
    word-break: normal;
}

.impressum h1,
.datenschutz h1,
.disclaimer h1 {
    margin-top: 30px;
    color: rgb(48 48 255);
    text-align: left;
}

.impressum h2,
.datenschutz h2,
.disclaimer h2 {
    color: #141414;
}

.impressum h3,
.impressum h4,
.datenschutz h3,
.datenschutz h4,
.disclaimer h3,
.disclaimer h4 {
    color: #141414;
}

.impressum,
.datenschutz,
.disclaimer {
    max-width: 1170px;
    margin: 0 auto;
    text-align: left;
    padding: 30px;
    margin-bottom: 100px;
}

.datenschutz-links {
    position: fixed;
    text-align: center;
    font-size: 16px;
    bottom: 0;
    width: 100%;
    background: #141414;
    padding: 20px 0px 20px 0px;
}

.datenschutz-links span a {
    color: white;
    text-decoration: none;
}

.datenschutz-links span:not(:first-of-type) {
    margin-left: 20px;
}

.text-bold {
    color: rgb(48 48 255);
}

.logo-link a {
    color: black;
    text-decoration: none;
}

.logo-datenschutz {
    margin-bottom: 80px;
}

.logo-datenschutz h1 {
    text-align: left;
}

.show-input {
    position: fixed;
    border-radius: 5px;
    margin-left: 30px;
    top: 0;
    transform: translate(-50%, 10%);
    z-index: 9999;
    cursor: pointer;
    padding: 7px 15px 7px 15px;
    display: none;
    z-index: 99999;
}

.hide {
    display: none;
}

.changeColor {
    background-color: rgba(255, 255, 255, 1);
}

@media screen and (max-width: 1330px) {
    .logo {
        left: 50%;
        transform: translate(-50%, -125%);
        margin-left: 0px;
    }

    .input-form {
        padding: 95px 0 25px 0;
    }

    #logo-home-container h1 {
        display: none;
    }

    .images-container {
        margin-top: 190px;
    }
}

@media screen and (max-width: 1100px) {
    .modal-container-first {
        width: 100%;
    }

    .modal-container-last {
        width: 100%;
    }

    .image-infos {
        padding-left: 30px;
    }

    #modal img {
        height: 100%;
        width: 100%;
        padding-left: 0;
        margin: 0 auto;
        margin-bottom: 20px;
    }

    #modal {
        padding-top: 29px;
    }

    .images p:not(:first-of-type) {
        padding-left: 0;
    }

    .form-modal {
        padding: 0 30px;
        margin: 0;
    }

    .comment-child {
        margin-left: 0;
    }
}

@media screen and (max-width: 927px) {
    .logo-home-container h1 {
        display: none;
    }

    .images-container {
        margin-top: 120px;
    }

    .input-form button {
        margin-top: 20px;
    }

    .input-form input {
        margin: 0 auto;
        margin-top: 20px;
    }

    .input-form label,
    .input-form button {
        margin-left: 10px;
    }

    .show-input {
        display: block;
    }

    .input-form input:not(:first-of-type) {
        margin: 0 auto;
        margin-top: 20px;
    }

    .input-form input,
    .input-form button,
    .input-form .custom-file-upload {
        display: none;
        margin: 0 auto;
    }

    .input-form-hamburger-menu {
        transition: 0.8s;
        background-color: rgba(255, 255, 255, 1);
        height: 100%;
    }

    .input-form {
        transition: 0.8s;
        padding: 50px 0 25px 0;
    }

    .input-form .show {
        display: block;
        margin-top: 20px;
    }

    #file-upload {
        width: 165px;
    }

    .logo {
        transform: translate(-50%, -60%);
    }

    .logo-hamburger-menu {
        left: 0%;
        top: 0%;
        transform: translate(0%, 0%);
        margin-left: 10px;
        position: relative;
        max-width: 100%;
        margin-bottom: 40px;
    }
}

@media screen and (max-width: 890px) {
    .input-form button {
        margin-top: 20px;
    }

    .modal-container {
        width: 100%;
    }
}

@media screen and (max-width: 758px) {
    #file-upload {
        width: 165px;
    }
}

@media screen and (max-width: 650px) {
    .impressum h1,
    .datenschutz h1,
    .disclaimer h1 {
        font-size: 24px;
    }

    .table td {
        display: block;
        width: 100%;
        word-break: break-word;
    }

    #modal {
        width: 100%;
    }
}

@media screen and (max-width: 500px) {
    .datenschutz-links span {
        display: block;
    }

    .comment-child {
        margin-left: 0;
    }

    .datenschutz-links span:not(:first-of-type) {
        margin-left: 0px;
    }

    .logo .logo-subtitle {
        font-size: 14px;
    }
}
